@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-style: normal;
}

main{
  padding: 50px 10%;
}

nav {
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.nav-icon{
  display: flex;
}

.meme-face{
  width: 31.31px;
  height: 26.22px;
}

.meme-face>img{
  width: 100%;
}

h3 {
  padding: 0 10px;

  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.side-heading{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}

.input-area{
  display: flex;
  width: 100%;
}

.input-area>input{
  width: 90%;
  margin: 0 10px;
  padding: 10px;
}

button{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
}

